
<h1>Posts</h1>
<div class="text-right">
  <%= link_to( 'New Post', new_post_path, class: "btn btn-lg btn-success" ) %>
</div>

<table class="table mt-2">
  <thead class="thead-light">
    <tr>
      <th>Title</th>
      <th>Published</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <% if( post.published ) %>
      <tr>
      <% else %>
      <tr class="table-secondary">
      <% end %>
        <td>
          <%= link_to( post.title, post ) %>
        </td>
        <td><%= post.published %></td>
        <td>
        <%= link_to( 'Edit', edit_post_path(post), class: "btn btn-sm btn-primary" ) %>
        <%= link_to( 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger text-white" ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

