
<div class="post">
  <div class="show">

    <div class="d-flex flex-row">
      <h1>
        <%= @post.title %>
      </h1>

      <div class="align-self-end ml-3">
        <p>
          <strong>Published:</strong>
          <% if( @post.published ) %>
          <span class="badge badge-primary">
          <% else %>
          <span class="badge badge-secondary">
          <% end %>
          <%= @post.published %>
          </span>
        </p>
      </div>
    </div>

    <p>
      <%= @post.body %>
    </p>
  </div>
</div>


<%= link_to( 'Edit', edit_post_path(@post), class: "btn btn-primary" ) %>
<%= link_to( 'Back', posts_path, class: "ml-2 btn btn-secondary" ) %>
