<h1>Categories</h1>
<div class="text-right">
  <%= link_to( 'New Category', new_category_path, class: "btn btn-lg btn-success" ) %>
</div>

<table class="table mt-2">
  <thead class="thead-light">
    <tr>
      <th>Category</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td>
          <%= link_to( category.name, category ) %>
        </td>

        <td>
          <%= category.posts.count %>
        </td>

        <td>
          <%= link_to( 'Edit', edit_category_path( category ), class: "btn btn-sm btn-primary" ) %>
          <%= link_to( 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger text-white" ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
